name: CI

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.24.7'
          cache: false
      - name: Build
        run: go build ./...

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.24.7'
          cache: false
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: "v2.5.0"
          args: "--timeout=5m -v"

  test:
    name: Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.24.7'
          cache: false
      - name: Run tests
        run: go test -v -race -coverprofile=coverage.out -covermode=atomic ./...
      - name: Display coverage
        run: go tool cover -func=coverage.out
